<ul class="amcform-grid-header"
    data-amcform-js="items"
    data-bind="visible: $parent.elems().length">
    <li class="amcform-item" data-amcform-js="head-item">
        <button class="amcform-button -clear" data-bind="i18n: 'Form'"></button>
    </li>
    <li class="amcform-item" data-amcform-js="head-item">
        <button class="amcform-button -clear" data-bind="i18n: 'Submitted'"></button>
    </li>
    <li class="amcform-item" data-amcform-js="head-item">
        <button class="amcform-button -clear" data-bind="i18n: 'Updated'"></button>
    </li>
    <li class="amcform-item" data-amcform-js="head-item">
        <button class="amcform-button -clear" data-bind="i18n: 'Status'"></button>
    </li>
    <li class="amcform-item" data-amcform-js="head-item">
        <button class="amcform-button -clear" data-bind="i18n: 'Admin Response'"></button>
    </li>
    <li class="amcform-item -action" data-amcform-js="head-item">
        <button class="amcform-button -clear" data-bind="i18n: 'Action'"></button>
    </li>
</ul>
