<?xml version="1.0"?>
<!--
/**
 * BrandCrock Industryarc Plugin for Industryarc Theme in Magento2
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU General Public License
 *
 * DISCLAIMER
 *
 * Do not add or edit the files if you wish to upgrade this extension to newer
 * version in the future.
 *
 * @category   BrandCrock
 * @package    BrandCrock_Industryarc
 * @copyright  Copyright (c) BrandCrock (https://www.brandcrock.com/)
 * @license    GNU General Public Licensel
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <industryarc_theme>
            <general>
                <bcia_primary_color>#fcb222</bcia_primary_color>
                <bcia_secondary_color>#1b1200</bcia_secondary_color>
                <bcia_primary_text_color>#fff</bcia_primary_text_color>
                <bcia_secondary_text_color>#fff</bcia_secondary_text_color>
            </general>
            <bcia_header_color_config>
                <bcia_header_primary_color>#fff</bcia_header_primary_color>
                <bcia_header_secondary_color>#fcb222</bcia_header_secondary_color>
                <bcia_header_background_color>rgba(0,0,0,.7)</bcia_header_background_color>
                <bcia_header_search_bg_color>#fff</bcia_header_search_bg_color>
            </bcia_header_color_config>
            <bcia_footer_color_config>
                <bcia_footer_primary_color>#1b1200</bcia_footer_primary_color>
                <bcia_footer_secondary_color>#fcb222</bcia_footer_secondary_color>
                <bcia_footer_background_color>#fff</bcia_footer_background_color>
            </bcia_footer_color_config>
            <bcia_product_color_config>
                <bcia_product_price_color>#e52427</bcia_product_price_color>
                <bcia_product_listing_bread_bg_color>#fff</bcia_product_listing_bread_bg_color>
                <bcia_product_listing_bread_text_color>#000</bcia_product_listing_bread_text_color>
                <bcia_product_listing_side_bg_color>#fff</bcia_product_listing_side_bg_color>
                <bcia_product_listing_side_text_color>#000</bcia_product_listing_side_text_color>
                <bcia_product_listing_grid_color>#fff</bcia_product_listing_grid_color>
                <bcia_product_listing_grid_text_color>#000</bcia_product_listing_grid_text_color>
                <bcia_product_detail_bg_color>#fff</bcia_product_detail_bg_color>
                <bcia_product_detail_text_color>#000</bcia_product_detail_text_color>
            </bcia_product_color_config>
            <bcia_social_links>
                <bcia_facebook_url>#</bcia_facebook_url>
                <bcia_twitter_url>#</bcia_twitter_url>
                <bcia_instagram_url>#</bcia_instagram_url>
                <bcia_youtube_url>#</bcia_youtube_url>
                <bcia_whatsapp_url>#</bcia_whatsapp_url>
                <bcia_pinterest_url>#</bcia_pinterest_url>
                <bcia_xing_url>#</bcia_xing_url>
            </bcia_social_links>
            <bcia_footer_config>
                <bcia_storemap_url>#</bcia_storemap_url>
                <bcia_appstore_url1>#</bcia_appstore_url1>
                <bcia_appstore_url2>#</bcia_appstore_url2>
                <bcia_ft_company_desc>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est tellus, venenatis sed nisi in, egestas bibendum sem. Nam tempus dolor quis interdum auctor.</bcia_ft_company_desc>
            </bcia_footer_config>
            <bcia_bottom_ad>
                <bcia_ad_bg_clr>#fff</bcia_ad_bg_clr>
                <bcia_bottom_ad_url>#</bcia_bottom_ad_url>
            </bcia_bottom_ad>
        </industryarc_theme>
    </default>
</config>